<h1>
    login page
</h1>
<form action="/login" method="POST">
<div>
    <label for="email">Email</label>
    <input type="email" name="email" required>
</div>
<div>
    <label for="password">password</label>
    <input type="password" name="password" required>
</div>
<button type="submit">
    login
</button>
<a href=""></a>
</form>