<html>
  <%- include ("./partials/header.ejs") %>
  <body>
    <div class="row">
      <%- include ("./partials/sidebar.ejs") %>
      <h3>Welcome to the library. This is your homepage.</h3>
    </div>
  </body>
</html>
